body {
    background-image:url("https://images.creativemarket.com/0.1.0/ps/1323857/910/607/m1/fpnw/wm1/random-objects-pre-.jpg?1464682269&s=488182d236095c2cda0e968757a84a2c") ;
    font-family: 'Indie Flower', cursive;
}


.heading{
    width:100%;
    background-color:rgb(0, 0, 0);
     font-size: 32px; ;
     margin: 0px;
     align-items: center;
     text-align:center;
     
}

.heading2{
    background: grey;
    width: 70%;
    color: white;
    font:25px ;
    float:none;
padding:10px;
box-shadow:10px 10px 20px yellow;
border-radius:20px;
    text-align:center;
    margin-bottom:20px;
}


#object_list{
    font-size :20px ;
    color:yellow;
}